<section class="author{% if site.disqus == false %} no-disqus{% endif %}">
    <div class="toleft">
        <img class="selfie" src="{% if site.authors[page.author].external-image == true %}{{ site.authors[page.author].picture }}{% else %}/{{ site.authors[page.author].picture }}{% endif %}" alt="{{ site.authors[page.author].name }}">
    </div>

    <div class="toright">
        <div class="share">
            <a class="twitter" href="https://twitter.com/intent/tweet?text={{ page.url | absolute_url }} - {{ page.title }} by @{{ site.authors[page.author].twitter }}" target="_blank" rel="noopener noreferrer">
                <span class="iconify" data-icon="simple-icons:x" aria-hidden="true"></span> Tweet
            </a>
        </div>
    </div>
</section>
