.footer-main
  border-top: 1px solid $colorBorder
  padding: 40px 0
  margin: 40px 0 0
  font-size: 1.3rem
  font-family: $fontMonospace
  color: $colorTextMuted
  font-weight: 300
  text-align: center
  position: relative

  &:before
    display: block
    content: " "
    width: 7px
    height: 7px
    border: $colorBorder 1px solid
    position: absolute
    top: -5px
    left: 50%
    margin-left: -5px
    background: $colorBg
    border-radius: 3px

  > .link
    display: inline

    > .icon
      width: 15px !important
      fill: $colorTextMuted !important
      transition: ease-in-out all 0.3s
      position: relative
      top: 3px
      display: inherit
      margin: 0

      &:hover
        fill: $colorAmber !important

  > .extra
    color: $colorTextMuted
    margin-top: 6px

    > .link
      color: $colorTextSecondary
      text-decoration: none
      border-bottom: 1px solid transparent
      transition: ease-in-out all 0.3s
      padding-bottom: 1px

      &:hover
        color: $colorAmber
        border-color: $colorAmber
